<!DOCTYPE html>
<html>
<head>
  <title>Bracket Generator</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="tournament">
  <h1>Under Development</h1>
  <div ng-controller="enterTeams">
    <form ng-submit="addTeam(newTeam)">
      <input type="text" ng-model="newTeam" placeholder="Enter your team here">
      <button type="submit">Submit</button>
    </form>
    <ul>
      <li ng-repeat="team in teams track by $index"> {{ team.name }} </li>
    </ul>
  </div>
</body>
</html>