<!DOCTYPE html>
<html>
<head>
  <title>Bracket Generator</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.js"></script>
  <script src="bracket.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="tournament">
  <h1>Bracket Generator</h1>
  <div ng-controller="EnterTeams" class="container">

    <form ng-submit="addTeam(newTeam)">
      <input type="text" ng-model="newTeam" placeholder="Enter your team here">
      <button type="submit">Submit</button>
    </form>

    <div class="list">
      <h2>Team List</h2>
      <div class="teamlist" ng-repeat="team in teams">
        <span>{{team.name}}</span>
        <h4 ng-click="removeTeam(team.name)" class="remove">X</h4>
        <!-- <form ng-submit="addScore(newScore, team.name)">
          <input class="score" type="number" ng-model="newScore" placeholder="Score">
        </form> -->
       </div>

    </div>

    <div class="bracket">

      <h2>Bracket</h2>

      <div class="bracket-buttons">
        <button class="generate-button" ng-click="pairTeams(teams)">Generate</button>
        <button class="next-round-button" ng-click="nextRound()">Next Round</button>
      </div>

      <div ng-repeat="pair in pairs">
        <br>
        <div class="top-game">
          {{ pair[0].name }}
          <form ng-submit="addScore(topScore, pair[0].name)">
            <input class="score-top" type="number" ng-model="topScore" placeholder="Score">
          </form>
        </div>
        <br>
        <div class="bottom-game">
          {{ pair[1].name }}
          <form ng-submit="addScore(bottomScore, pair[1].name)">
            <input class="score-bottom" type="number" ng-model="bottomScore" placeholder="Score">
          </form>
        </div>

      </div>

    </div>

    <!--
    <bracket-visualization val="teams"></bracket-visualization>
    -->
  </div>
</body>
</html>