
/*.container {
  display: flex;
  justify-content: center;
}*/

h1 {
  font-size: 36px;
  font-style: "Times New Roman", Times, serif;
  color: blue;
}

h2 {
 font-size: 24px;
 font-style: "Times New Roman", Times, serif;
 color: green;
}

.remove {
  display: inline;
  font-size: 10;
  color: grey;
  margin-right: 4px;
}

.teamlist {

  margin-bottom: 5px;
  width: 200px;
}

.score {
  width: 50px;
  float: right;
}