
/*.container {
  display: flex;
  justify-content: center;
}*/

h1 {
  font-size: 36px;
  font-style: "Times New Roman", Times, serif;
  color: blue;
}

h2 {
 font-size: 24px;
 font-style: "Times New Roman", Times, serif;
 color: green;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.teamlist {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
}

.remove {
  font-size: 10;
  color: grey;
  margin-top: 0;
}


.bracket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
}
.score-top {
  width: 50px;
  margin-bottom: 5px;
}
.score-bottom {
  width: 50px;
  margin-top: 5px;
}
.generate-button {
  text-align: center;
  width: 100px;
}
.top-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.bottom-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid grey;
}